{% extends 'item_library/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Title" name="title" {% if request.session.filter_entry.title %}value={{ request.session.filter_entry.title }}{% endif %}>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="number" class="form-control" min="0" placeholder="Min value" name="min_value" {% if request.session.filter_entry.min_value %}value={{ request.session.filter_entry.min_value }}{% endif %}>
      </div>
      <div class="form-group col-md-6">
        <input type="number" class="form-control" max="9999999999" placeholder="Max value" name="max_value" {% if request.session.filter_entry.max_value %}value={{request.session.filter_entry.max_value}}{% endif %}>
      </div>
    </div>
    <div class="form-row">
      {% for entry in request.session.rarity_list %}
      <div class="form-group mr-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="{{entry.rarity}}" value={{forloop.counter}} {% if entry.is_checked %}checked{% endif %}>
          <label for="{{entry.rarity}}">{{entry.rarity|title}}
          </label>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="form-row">
      <div class="form-group">
        <button type="submit" name="filter" class="btn btn-primary">Filter
        </button>
        <button type="submit" name="reset" class="btn btn-primary">Reset
        </button>
      </div>
    </div>
  </form>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
      {% else %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
<div class="row">
  <div class="container">
    <div class="list-group">
      {% for item in items %}
      <a href="{% url 'item_library:item-detail' item.id %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ item.title }}
          </h5>
          <small>{{ item.get_rarity_display }}
          </small>
        </div>
        <p class="mb-1">{{ item.description }}
        </p>
        <div class="d-flex w-100 justify-content-between">
          <small>{{ item.date_created }}
          </small>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
